<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Pessoa</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!-- TAILWINDCSS -->
    <link rel="stylesheet" href="tailwindcss.css">
</head>
<body class="bg-gray-200 text-gray-600">

  
    <div class="bg-c1 p-4 flex-none max-w-screen-lg m-auto flex items-center  space-x-4 text-white relative">
        <p class="absolute bottom-1 right-2 text-gray-300">referência: gabriel - #123</p>
        <img src="logo.png" class="w-16" alt="">
        <h2 class="text-2xl font-bold">CADASTRA AI!</h2>
    </div>
    <section class="bg-white max-w-screen-lg min-h-80 m-auto md:p-10 p-5 shadow-lg flex items-center justify-center">
        <form action="/pessoa/create", method="post" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4  gap-5 w-full">
            <!-- PRINCIPAL -->
            <h2 class="sm:col-span-2 md:col-span-3 lg:col-span-4 border-b-2 font-semibold">PRINCIPAL</h2>
            <div class="flex flex-col">
                <label for="text" class="text-sm">Nome completo</label>
                <input type="text" name="nome"  class="border-2 border-gray-300 bg-gray-100 px-4 py-2 rounded-sm">
            </div>
            <div class="flex flex-col">
                <label for="data_nascimento" class="text-sm">Data de Nascimento</label>
                <input type="text" name="data_nascimento" onkeypress="mascara(this, '##/##/####')" maxlength="10"  class="border-2 border-gray-300 bg-gray-100 px-4 py-2 rounded-sm">
            </div>
            <div class="flex flex-col">
                <label for="text" class="text-sm">Zona</label>
                <select required name="zona" id=""  class="border-2 border-gray-300 bg-gray-100 px-4 py-2 rounded-sm">
                    <option value="" selected disabled>Selecione uma zona</option>
                    <% if (typeof zonasEleirorais != "undefined" && zonasEleirorais) { %>
                        <% zonasEleirorais.forEach(element => { %>
                            <option value="<%=element.numero_zona  %>"><%= element.numero_zona  %></option>
                        <% }) %>
                    <% } %>
                </select>
            </div>
            <div class="flex flex-col">
                <label for="secao" class="text-sm">Seção</label>
                <input type="text" name="secao" maxlength="4"  class="border-2 border-gray-300 bg-gray-100 px-4 py-2 rounded-sm">
            </div>
            <div class="flex flex-col">
                <label for="email" class="text-sm">E-mail</label>
                <input type="email" name="email"  class="border-2 border-gray-300 bg-gray-100 px-4 py-2 rounded-sm">
            </div>
            <div class="flex flex-col">
                <label for="text" class="text-sm">Telefone</label>
                <input type="tel" name="telefone" onkeypress="mascara(this, '(##) #####-####')" maxlength="15"  class="border-2 border-gray-300 bg-gray-100 px-4 py-2 rounded-sm">
            </div>
     
            <div class="flex flex-col">
                <label for="cpf" class="text-sm">CPF</label>
                <input required type="text" name="cpf" onkeypress="mascara(this, '###.###.###-##')" maxlength="14"  class="border-2 border-gray-300 bg-gray-100 px-4 py-2 rounded-sm">
            </div>
            <div class="flex flex-col">
                <label for="rg" class="text-sm">RG</label>
                <input  type="text" name="rg" onkeypress="mascara(this, '#######-#')" maxlength="9" class="border-2 border-gray-300 bg-gray-100 px-4 py-2 rounded-sm">
            </div>
 

            <!-- ENDEREÇO -->

            <h2 class="sm:col-span-2 md:col-span-3 lg:col-span-4 border-b-2 font-semibold">ENDEREÇO</h2>
            <div class="flex flex-col">
                <label for="cep" class="text-sm">CEP</label>
                <input id="inputCep" type="text" name="cep" onkeypress="mascara(this, '#####-###')" maxlength="9"  class="border-2 border-gray-300 bg-gray-100 px-4 py-2 rounded-sm">
            </div>
            <div class="flex flex-col">
                <label for="rua" class="text-sm">Rua</label>
                <input type="text" name="rua"  class="border-2 border-gray-300 bg-gray-100 px-4 py-2 rounded-sm">
            </div>
            <div class="flex flex-col">
                <label for="bairro" class="text-sm">Bairro</label>
                <input type="text" name="bairro"  class="border-2 border-gray-300 bg-gray-100 px-4 py-2 rounded-sm">
            </div>
        
            <div class="flex flex-col">
                <label for="numero" class="text-sm">Numero da Casa</label>
                <input type="text" name="numero" maxlength="5"  class="border-2 border-gray-300 bg-gray-100 px-4 py-2 rounded-sm">
            </div>
            <div class="flex flex-col">
                <label for="complemento" class="text-sm">Complemento</label>
                <input type="text" name="complemento"  class="border-2 border-gray-300 bg-gray-100 px-4 py-2 rounded-sm">
            </div>
            <div class="flex flex-col">
                <label for="cidade" class="text-sm">Cidade</label>
                <input type="text" name="cidade" value="Manaus" class="border-2 border-gray-300 bg-gray-100 px-4 py-2 rounded-sm">
            </div>
            <div class="flex flex-col">
                <label for="estado" class="text-sm" >Estado</label>
                <input type="text" name="estado" value="AM"  class="border-2 border-gray-300 bg-gray-100 px-4 py-2 rounded-sm">
            </div>
            <div class="flex flex-col">
                <label for="pais" class="text-sm">Pais</label>
                <input type="text" name="pais" value="Brasil" class="border-2 border-gray-300 bg-gray-100 px-4 py-2 rounded-sm">
            </div>

            <div class="sm:col-span-2 md:col-span-3 lg:col-span-4">
                <button type="submit" class="rounded-sm ml-auto px-4 py-3 bg-green-600 hover:bg-green-500 duration-200 flex items-center justify-center space-x-2 font-bold text-xl text-white ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                      </svg>
                    <span>Finalizar Cadastro</span>
                </button>
            </div>
        </form>
    </section>
  </body>
</html>



<script>

function mascara(src, mascara) {
    const campo = src.value.length;
    const texto = mascara.substring(campo);
    if (texto.charAt(0) !== '#') {
        src.value += texto.charAt(0);
        // Verifica se o próximo caractere na máscara é um espaço
        if (texto.charAt(1) === ' ') {
            src.value += ' ';
        }
    }
}



const inputCep = document.getElementById('inputCep');
inputCep.addEventListener('keyup', (event) =>{
    handleInputCep(event.target.value)
})

async function buscarEndereco(cep) {
    if(!cep) return null;
    return new Promise((resolve, reject) => {
        const apiUrl = `https://viacep.com.br/ws/${cep}/json/`;
        fetch(apiUrl)
        .then(res => res.json())
        .then(res => {
            resolve(res)
        })
        .catch(error => {
            reject(error)
        });
    })
}


async function handleInputCep(cep){
    if(cep.length == 9){
        const endereco = await buscarEndereco(cep);
        console.log(endereco)
        document.querySelector('[name=bairro]').value = endereco.bairro || '';
        document.querySelector('[name=complemento]').value = endereco.complemento || '';
        document.querySelector('[name=cidade]').value = endereco.localidade || '';
        document.querySelector('[name=rua]').value = endereco.logradouro || '';
        document.querySelector('[name=estado]').value = endereco.uf || '';

    }
}


</script>