<div class="w-full bg-c5 p-5 text-c4 font-semibold">
  <div class="max-w-screen-lg m-auto flex items-center justify-between">
    <div class="flex items-center justify-between space-x-4">
      <img src="logo.png" alt="logo" class="w-10 ">
      <nav class=" space-x-4">
        <a href="#" class="hover:underline">Novo Registrador</a>
        <a href="#" class="hover:underline">Nova Pessoa</a>
      </nav>
    </div>
    <nav class="flex items-center justify-between space-x-4">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
      </svg>
      <button id="btnSair" class="hover:underline">Sair</a>
    </nav>
  </div>
</div>

<script src="navbar.js"></script>